<section>
    <section class="title-cont">
        <section class="title-box">
            <span class="title">Binary Tree Visualization</span>
            <section class="by">
                <span> by: {{ author }} {{ contact }} | <a href="https://github.com/Swellshinider/BinaryTreeVisualization">Github</a></span>
            </section>
        </section>
    </section>
</section>

<section class="line"></section>

<section class="board-container">
    <section class="container">

        <aside class="lateral">

            <!-- Input -->
            <article class="title-container">
                <span class="title">Input</span>
            </article>
            <section class="block">
                <span class="text">New value: </span>
                <input #valueInput type="number" (keypress)="validarTecla($event)">
                <button (click)="sendInput()">Add</button>
                <button (click)="clearTree()">Clear</button>
            </section>
            
            <!-- Generation -->
            <article class="title-container">
                <span class="title">Generate</span>
            </article>
            <section class="block">
                <span class="text">Quandidade(int): </span>
                <input type="number" [value]="genQuantity" (change)="changeGeneratingQuantity($event)" (keypress)="validarTecla($event)">
                <span class="text">Delay(ms): </span>
                <input type="number" [value]="genDelay" (change)="changeDelaySpeed($event)" (keypress)="validarTecla($event)">
                <button (click)="generateRandom()">Generate random</button>
            </section>

            <!-- Board configuration -->
            <article class="title-container">
                <span class="title">Configuration</span>
            </article>
            <section class="block">
                <span class="text">Node Size(int): </span>
                <input type="number" (change)="changeNodeSize($event)" [value]="nodeSize" (keypress)="validarTecla($event)">
            </section>    
            <section class="block">
                <span class="text">Line size multiplier(int): </span>
                <input type="number" (change)="changeSpacing($event)" value="10"
                    (keypress)="validarTecla($event)">
            </section>
        </aside>

    </section>
    
    <canvas #canvasBoard class="board"
        (mousedown)="canvasMouseDown($event)"
        (mousemove)="canvasMouseMove($event)"
        (mouseup)="canvasMouseUp()"></canvas>
</section>