<section>
    <section class="title-cont">
        <section class="title-box">
            <span class="title">Binary Tree Visualization</span>
            <section class="by">
                <span> by: {{ author }} {{ contact }} | <a href="https://github.com/Swellshinider/BinaryTreeVisualization">Github</a></span>
            </section>
        </section>
    </section>
</section>

<section class="line"></section>

<section class="board-container">
    <section class="container">

        <aside *ngIf="configOpen" class="lateral">
            <article class="title-container">
                <span class="title">Input</span>
            </article>
            <section class="block">
                <span class="text">New value: </span>
                <input #valueInput type="number" (keypress)="validarTecla($event)">
                <button (click)="sendInput()">Enter</button>
            </section>

            <article class="title-container">
                <span class="title">Generate</span>
            </article>
            <section class="block">
                <span class="text">Quandidade(int): </span>
                <input #valueBoardWidth type="number" [value]="genQuantity" (keypress)="validarTecla($event)">
                <span class="text">Delay(ms): </span>
                <input #valueBoardWidth type="number" [value]="genDelay" (keypress)="validarTecla($event)">
                <button (click)="generateRandom()">Generate random</button>
            </section>

            <article class="title-container">
                <span class="title">Configuration</span>
            </article>
            <section class="block">
                <span class="text">Node Size(int): </span>
                <input #valueBoardWidth type="number" (change)="changeNodeSize($event)" [value]="nodeSize" (keypress)="validarTecla($event)">
            </section>    
            <section class="block">
                <span class="text">Line size multiplier(int): </span>
                <input #valueSpacing type="number" (change)="changeSpacing($event)" value="10"
                    (keypress)="validarTecla($event)">
            </section>
            <section class="block">
                <span class="text">Board Size(px): </span>
                <input #valueBoardWidth type="number" (change)="changeBoardWidth($event)" [value]="boardWidth"
                    (keypress)="validarTecla($event)">
                <input #valueBoardHeight type="number" (change)="changeBoardHeight($event)" [value]="boardHeight"
                    (keypress)="validarTecla($event)">
            </section>
            <!-- section class="block">
                <button (click)="printTree()">Print</button>
            </section -->

            <section class="title-container"> </section>
            <button class="btn-config" (click)="configOpen = !configOpen">Hide configuration</button>
        </aside>

        <aside *ngIf="!configOpen" class="lateral">
            <button class="btn-config" (click)="configOpen = !configOpen">Show configuration</button>
        </aside>

    </section>
    
    <canvas #canvasBoard class="board" [width]="boardWidth" [height]="boardHeight"></canvas>
</section>